body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #09090B;
    color: #F7F6F6;
}
.encabezado {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #09090B;
}
#logoWiseChat {
    width: 300px;
    height: 75px;
}
.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #09090B;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #1E1E2F;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 400px;
}
.form-toggle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}
.form-toggle button {
    background-color: #6E31DE;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    flex: 1;
    margin: 0 5px;
}
.form-toggle button:hover {
    background-color: #09090B;
}
.form-content {
    display: none;
    width: 100%;
}
.form-content h2 {
    text-align: center;
    margin-bottom: 20px;
}
.form-content label {
    display: block;
    margin-bottom: 5px;
}
.form-content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}
.form-content button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6E31DE;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.form-content button:hover {
    background-color: #09090B;
}