/* Estilos generales y reset */
.montserrat-uniquifier {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #09090B;
}

/* Encabezado */
.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.inicioSesionRegistro {
    display: flex;
    align-items: center;
}

/* Botones de inicio de sesión y registro */
#iniciarSesion,
#registrarme {
    background-color: #09090B;
    margin: 0 20px;
    color: white;
    font-family: "Montserrat", sans-serif;
    padding: 0 16px;
    width: 182px;
    height: 50px;
    border-radius: 9px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#iniciarSesion:hover {
    background-color: #6E31DE;
    transform: translateY(-5px);
}

#registrarme {
    background-color: #6E31DE;
}

#registrarme:hover {
    background-color: #09090B;
    transform: translateY(-5px);
}

/* Logo WiseChat */
#logoWiseChat {
    width: 300px;
    height: 75px;
    margin: 15px 20px;
}

/* Contenedor principal */
.container {
    max-width: 1500px;
    margin: 0 auto;
    height: 95px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #09090B;
}

/* Sección principal */
.general {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 4vw; /* Tamaño de fuente responsive */
    line-height: 1.2;
    text-align: center;
    margin: 20px 0;
    max-width: 90%; /* Ajuste de ancho máximo para evitar desbordamiento */
}

.gratis {
    color: #6E31DE;
    font-size: 6vw; /* Tamaño de fuente responsive */
    margin-top: -10px;
}

#wisechatBig {
    width: 80%; /* Ancho máximo del elemento responsive */
    max-width: 587px;
    height: auto;
    margin: 20px 0;
}

.transforma {
    color: white;
    font-size: 2vw; /* Tamaño de fuente responsive */
    width: 80%; /* Ancho máximo del elemento responsive */
    max-width: 500px;
    margin: 20px 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

/* Botón principal de la landing */
.botonPrincipalLanding {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.quieroPotenciarmiNegocio {
    width: 100%;
    max-width: 422px;
    height: 50px;
    border-radius: 9px;
    background-color: #6E31DE;
    color: white;
    font-size: 2vw; /* Tamaño de fuente responsive */
    font-weight: 700;
    padding: 0 16px;
    cursor: pointer;
    transition: transform 0.3s;
}

.quieroPotenciarmiNegocio:hover {
    transform: translateY(-5px);
}

/* Media queries para hacer la página responsiva */
@media (max-width: 1200px) {
    .container {
        padding: 0 20px;
    }

    .encabezado {
        padding: 10px;
    }

    .inicioSesionRegistro {
        margin-left: 0;
    }

    h1 {
        font-size: 5vw;
    }

    .gratis {
        font-size: 8vw;
    }

    .transforma {
        font-size: 3vw;
    }

    .quieroPotenciarmiNegocio {
        font-size: 3vw;
    }
}

@media (max-width: 768px) {
    .encabezado {
        flex-direction: column;
        align-items: center;
    }

    .inicioSesionRegistro {
        flex-direction: column;
        margin: 10px 0;
        justify-content: center;
    }

    .botonPrincipalLanding {
        flex-direction: column;
    }

    #logoWiseChat {
        width: 250px;
        height: auto;
        margin: 10px 0;
    }

    h1 {
        font-size: 6vw;
        margin: 20px 0;
    }

    .gratis {
        font-size: 10vw;
        margin-top: -5px;
    }

    .transforma {
        font-size: 3.5vw;
        margin: 20px 0;
    }

    .quieroPotenciarmiNegocio {
        font-size: 4vw;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 8vw;
    }

    .gratis {
        font-size: 12vw;
        margin-top: 0;
    }

    .transforma {
        font-size: 4vw;
    }

    .quieroPotenciarmiNegocio {
        font-size: 5vw;
    }
}
