.montserrat-uniquifier {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #09090B;
}

.encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inicioSesionRegistro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

#iniciarSesion, #registrarme {
    background-color: #09090B;
    margin: 0 10px;
    color: white;
    padding: 0 16px;
    width: 150px;
    height: 50px;
    border-radius: 9px;
    font-size: 18px;
    font-weight: 600;
}

#iniciarSesion:hover, #registrarme:hover {
    background-color: #6E31DE; /* Color al pasar el mouse */
    transform: translateY(-5px); /* Efecto de "salto" */
}

#registrarme {
    background-color: #6E31DE; 
}

#logoWiseChat {
    width: 300px;
    height: auto;
    margin: 15px 0;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #09090B;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.general {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
    text-align: center;
    margin: 20px 0;
    font-size: 48px;
}

.gratis {
    color: #6E31DE;
    font-size: 64px;
    margin-top: -15px;
}

.transforma {
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
}

.botonPrincipalLanding {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.quieroPotenciarmiNegocio {
    width: 100%;
    max-width: 300px;
    height: 50px;
    border-radius: 9px;
    background-color: #6E31DE;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 0 16px;
    text-align: center;
}

.quieroPotenciarmiNegocio:hover {
    transform: translateY(-5px); /* Efecto de "salto" */
}

/* Estilos responsivos para dispositivos móviles */
@media (max-width: 768px) {
    .encabezado {
        flex-direction: column;
        align-items: center;
    }

    #logoWiseChat {
        width: 250px;
        height: auto;
    }

    .inicioSesionRegistro {
        flex-direction: column;
        margin: 20px 0;
    }

    #iniciarSesion, #registrarme {
        width: 100%;
        max-width: 200px;
        margin: 10px 0;
        font-size: 16px;
        text-align: center;
    }

    h1 {
        font-size: 36px;
        margin: 10px 0;
    }

    .gratis {
        font-size: 48px;
    }

    .transforma {
        font-size: 16px;
        text-align: center;
        margin: 10px 15px;
    }

    .botonPrincipalLanding {
        margin: 10px 0;
        width: 80%;
    }

    .quieroPotenciarmiNegocio {
        font-size: 16px;
        margin: auto 34px;
    }

    #wisechatBig {
        display: none;
    }
}